.header {
    background: var(--gray-700);
    padding: 82px 0;
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo-text {
    color: var(--blue);
    font-size: 40px;
    font-weight: 900;
}

.logo-text span {
    color: var(--purple-dark);
    font-size: 40px;
    font-weight: 900;
}